
.card-heading{
margin: 2px;
padding: 2px;
margin-left: 15px;
color: green;

}
.ch{
width: fit-content;
}
.container-fluid1{
margin-top: -55px;
}
<<<<<<< HEAD
th{
color: black;
background-color: rgb(247, 249, 252);
}
.container{
    color: black;
}
=======
/* .table-headings{
color: white;
}
.container{
    color: black;
}
>>>>>>> 98d4ced37cef489d03527c385c2c25a7d41d01e8
