
.card-heading{
margin: 2px;
padding: 2px;
margin-left: 15px;
color: green;

}
.ch{
width: fit-content;
}
.container-fluid1{
margin-top: -55px;
}
/* .table-headings{
color: white;
} */
.table-headings{
color: white;
}
