/* body{
background-color: beige;
} */
.main-image{
width: 100%;}
.main-image1{
width: 100%;
border-radius: 50px;
padding: 1pc;
}

.spn{
text-align: left;
color: #a08f6b;
font-family: 'Times New Roman', Times, serif;
font-size: 24px;
margin-left: 10px;
font-style: italic;
font-weight: 400;
}
.purpose-paper{
text-align: center;
font-family: 'Times New Roman', Times, serif;
/* max-width: none; */
background-color: #4f4733;
/* height: 400px; */

}
.purpose-paper2{
background-color: #f5f3ef;

}
#ian-heading{
margin-left: -20px;
}
#purpose-heading{
color: #d18854;
font-weight: bold;

}
#purpose-heading2{
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
color:  #4f4733;
margin: 1pc;
}
#purpose-paragraph{
color: #ffffff;
padding: 2pc;
margin-left: 2pc;
margin-right: 2pc;
font-size: xx-large;
}
#purpose-paragraph2{
font-family: 'Times New Roman', Times, serif;
font-size: large;
margin: 1pc;
}
#purpose-button{
height: max-content;
/* width: 25%; */
background-color: #4f4733;
color: #a08f6b;
border-style: solid;
border-color: #a08f6b;
font-size: large;
}
#testmony-container{
background-color: #eddec0;
}
.nav{
background-color: green;
color: white;
}
.hreff{
color:white
}
.paper-one{
height: 24rem;
padding: 3px;
}
.paper-one p{
padding: 10px;
}
.paper-one-image{
height: 23.5rem;
width: 100%;
}

.paper-two{
height: 26rem;
padding: 3px;
}

.paper-two-image{
height: 25.5rem;
width: 100%;
}
.paper-three{
height: 21rem;
}
.paper-three h4, p{
padding: 20px;
}
.paper-three-image{
height: 21rem;
width: 100%;
}
.paper-four{
height: 23rem;
}
.paper-four h4{
padding: 20px;
}
.paper-four-image{
height: 23rem;
width: 100%;
}

.heading4{
text-align: center;}

h4{
color: green;
}
.who-we-are{
background-image:url("../static/images/farm/slide-image-11.jpg");
font-family: 'Times New Roman', Times, serif;
text-align: center;
width: 100%;

}
#who-we-aer-heading{
padding: 15pc;
}
footer{

background-color: green;
height: 55px;
text-align: center;
}