<<<<<<< HEAD
/* body{
background-color: beige;
} */
.nav{
background-color: green;
color: white;
}
.hreff{
color:white
}
=======
>>>>>>> 8ec243bf0727d6a6d2d241fc17da489b811a2a6c
.paper-one{
height: 24rem;
padding: 3px;
}
.paper-one p{
padding: 10px;
}
.paper-one-image{
height: 23.5rem;
width: 100%;
}

.paper-two{
height: 26rem;
padding: 3px;
}

.paper-two-image{
height: 25.5rem;
width: 100%;
}
.paper-three{
height: 21rem;
}
.paper-three h4, p{
padding: 20px;
}
.paper-three-image{
height: 21rem;
width: 100%;
}
.paper-four{
height: 23rem;
}
.paper-four h4{
padding: 20px;
}
.paper-four-image{
height: 23rem;
width: 100%;
}

.heading4{
text-align: center;}

h4{
color: green;
}
footer{
background-color: green;
height: 55px;
text-align: center;
}