body{
    background-color: rgb(255, 237, 220);
}
label{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    margin-left: -237px;
}
#emailLabel{
    margin-left: -265px;
}
#loginImg{
    height: 100vh;
    width: 50vw;
}
#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 2px;
}
h1{
    color: green;
    font-size: 2.3rem;
    text-align: center;
    font-weight: bolder;
}
#period{
    color: saddlebrown;
    transform: scale(10);
}
#loginForm input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgb(202, 202, 202);
    border-radius: 0;
}
:any-link{
    color: green;
}
#loginForm input:focus{
    border-bottom: 1px solid green;
    transition-delay: 70ms;
    transform-origin: left;
    transition-timing-function: ease;
}
#loginForm button{
    background-color: green;
    border-color: green;
    box-shadow: none;
    border-radius: 3px;
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    width: 300px;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    outline: 0;
}
#forgotPasswordText{
    font-size: 0.9rem;
    margin-left: 190px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
}
#signUpText{
    margin-left: -95px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}
#loginFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    background-color: #008000;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
