/* body{
    background-color: rgb(255, 237, 220);
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    border-radius: 2px;
}
h1{
    color: green;
    font-size: 2.3rem;
    text-align: center;
    font-weight: bolder;
}
#period{
    color: saddlebrown;
    transform: scale(10);
}
label{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
}
#images{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
img{
    height: 500px;
    width: 50vw;
}
form input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgb(202, 202, 202);
    border-radius: 0;
}
:any-link{
    color: green;
}
form input:focus{
    border-bottom: 1px solid green;
    transition-delay: 70ms;
    transform-origin: left;
    transition-timing-function: ease;
}
form button{
    background-color: green;
    border-color: green;
    box-shadow: none;
    border-radius: 3px;
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    width: 300px;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    outline: 0;
}
#loginText{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}
<<<<<<< HEAD
#loginFooter{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    background-color: #008000;
    color: white;
    font-size: 0.9rem;
} */
=======
#navbar{
width: 100%;
background-color: green;
height: 50px;
}
>>>>>>> 98d4ced37cef489d03527c385c2c25a7d41d01e8
