nav{
    background-color: green;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav button{
    margin-right: 100px;

}

form{
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form h1{
    margin-bottom: 30px;
}

form label{
    font-weight: 600;
}

form input{
    margin-bottom: 12px;
}

form button{
    width: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}