nav{
    background-color: rgb(255, 241, 226);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav button{
    margin-right: 100px;

}

section{
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

section h1{
    margin-bottom: 30px;
}

section label{
    font-weight: 600;
}

section input{
    margin-bottom: 12px;
}

section button{
    width: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}